profiles {
  core {
    params {
      proteomes = "$baseDir/data/core/test.tar.gz"
      outputDir = "$launchDir/coreOutput"
      outdatedOrganisms = "$baseDir/data/core/outdated.txt"
      diamondSimilarityCache = "$baseDir/data/core/diamondSimilarityCache"
      orthoFinderDiamondOutputFields = "qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore"
      buildVersion = "7"
    }
    docker {
      enabled = true
      runOptions='--user root'
    }
    singularity {
      enabled = false
    }
  }
  peripheral {
    params {
      outputDir = "$launchDir/peripheralOutput"
      coreProteomes = "$baseDir/data/core/test.tar.gz"
      peripheralProteomes = "$baseDir/data/peripherals/peripherals.tar.gz"
      coreGroupsFile = "$baseDir/coreOutput/reformattedGroups.txt"
      coreGroupSimilarities = "$baseDir/coreOutput/groupDiamondResults"
      coreTranslateSequenceFile = "$baseDir/coreOutput/diamondCache/SequenceIDs.txt"
      outdatedOrganisms = "$baseDir/data/peripherals/outdated.txt"
      peripheralDiamondCache = "$baseDir/data/peripherals/cache"
      buildVersion = "7"
      orthoFinderDiamondOutputFields = "qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore"
    }
    docker {
      enabled = true
    }
    singularity {
      enabled = false
    }

  }
  residual {
    params {
      outputDir = "$launchDir/residualOutput"
      residualFastaDir = "$launchDir/peripheralOutput/residualFastas.tar.gz"
      orthoFinderDiamondOutputFields = "qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore"
    }
    docker {
      enabled = true
    }
    singularity {
      enabled = false
    }
  }
  postResidual {
    params {
      outputDir = "$launchDir/postResidualOutput"
      residualFasta = "$launchDir/residualOutput/residualFasta.fa"
      groupsFile = "$baseDir/residualOutput/Orthogroups.txt"
      speciesMapping = "$baseDir/residualOutput/SpeciesIDs.txt"
      sequenceMapping = "$baseDir/residualOutput/SequenceIDs.txt"
      diamondResultsFile = "$baseDir/residualOutput/blastsFile.txt"      
      buildVersion = "7"
      residualBuildVersion = "1"
    }
    docker {
      enabled = true
    }
    singularity {
      enabled = false
    }
  }
  postProcessing {
    params {
      outputDir = "$launchDir/postProcessingOutput"
      residualFasta = "$launchDir/residualOutput/residualFasta.fa"
      residualBestRepsFasta = "$launchDir/postResidualOutput/bestReps.fasta"
      coreBestRepsFasta = "$launchDir/peripheralOutput/coreBestReps.fasta"      
      coreAndPeripheralGroups = "$baseDir/peripheralOutput/GroupsFile.txt"
      coreAndPeripheralProteome = "$baseDir/peripheralOutput/fullProteome.fasta"
      residualGroups = "$baseDir/residualOutput/Orthogroups.txt"
      buildVersion = "7"
      oldGroupsFile = "$baseDir/data/previousGroups/groups_OrthoMCL-CURRENT.txt"
      bestRepDiamondOutputFields = "qseqid sseqid evalue"
      coreGroupFastas = "$launchDir/peripheralOutput/groupFastas"
      residualGroupFastas = "$launchDir/postResidualOutput/groupFastas"
    }
    docker {
      enabled = true
    }
    singularity {
      enabled = false
    }
  }  
}
