profiles {
  core {
    params {
      inputFile = "$baseDir/data/protein.fa"
      outputDir = "$launchDir/output"
      pValCutoff = 1e-5
      lengthCutoff = 1
      percentCutoff = 1
      adjustMatchLength = true
      outdated = "$baseDir/data/outdated.txt"
      blastArgs = ""
    }
    docker {
      enabled = true
      runOptions = "-v $baseDir/data/previousBlasts:/previousBlasts"
    }
  }
  residual {
    params {
      inputFile = "$baseDir/data/protein.fa"
      outputDir = "$launchDir/output"
      pValCutoff = 1e-5
      lengthCutoff = 1
      percentCutoff = 1
      adjustMatchLength = true
      blastArgs = ""
    }
    docker {
      enabled = true
    }
  }
  group {
    params {
      coreProteome = "$baseDir/data/groupSelf/core.fa"
      peripheralProteome = "$baseDir/data/groupSelf/peripheral.fa"
      coreGroupsFile = "$baseDir/data/groupSelf/Orthogroups.tsv"
      peripheralGroupsFile = "$baseDir/data/groupSelf/groups.txt"
      updateList = "$baseDir/data/groupSelf/updates.txt"
      outputDir = "$launchDir/output"
      pValCutoff = 1e-5
      lengthCutoff = 1
      percentCutoff = 1
      adjustMatchLength = true
      blastArgs = ""
    }
    docker {
      enabled = true
      runOptions = "-v $baseDir/data/groupSelf/cache:/cache"
    }
  }
}