params {
  inputFile = "$baseDir/data/protein.fa"
  peripheralDir = "$baseDir/data/peripherals"
  outputDir = "$launchDir/output"
  pValCutoff = 1e-5
  lengthCutoff = 1
  percentCutoff = 1
  adjustMatchLength = true
  outdated = "$baseDir/data/outdated.txt"
}
docker {
    enabled = true
    runOptions = "-v $baseDir/data/previousBlasts:/previousBlasts"
}
